# Archivos compilados de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Entornos virtuales
modML/
.env/

# Archivos de configuración local
*.env
config.json

# Archivos de sistema
.DS_Store
Thumbs.db

# Configuración de VS Code
.vscode/
